*,html{
	margin:0;
	padding: 0;
}
@font-face{
  font-family:rale;
  src:url(../Fonts/Raleway-ExtraBold_0.ttf);
}
@font-face{
  font-family:proxi;
  src:url(../Fonts/proximanova-regular-webfont.ttf);
}
@font-face {
   font-family: beb;
   src: url("../Fonts/BebasNeue_0.otf");
}

#header_txt_container,
#header_txt_container h1 {
	margin-top:0;
	font-family: rale;
	font-size: 1.8em;
}
#formHolder{
	/*display: none;*/
/*	left: -36%;*/
	position: fixed;
	background-color: white;
	z-index: 9;
	padding: 20px;
	border:1px solid rgb(50,50,50);
	border-radius: 5px;
	top:70px;

}
#oo{
	left:0px;float:right;position: relative;
}
#form_wrapper{
	/*background-color: red;*/
	width: 350px;
}
textarea{
	max-width: 350px;
	max-height: 250px;
}
#ink{
	position: relative;
}
#ink_content{
	position: absolute;
	background-color: white;
	left:-60px;
	width: 40px;
	text-align: center;
	padding: 10px;
	cursor: pointer;
	border-top: 1px solid rgb(50,50,50);
	border-bottom:  1px solid rgb(50,50,50);
	border-left:  1px solid rgb(50,50,50);
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	font-family: proxi;
	color:rgb(50,50,50);

}
#btnHolder{
	margin-top: 20px;
}
#char{
	margin-left: 20px;
}
body{

}

#arrCont{
	position: absolute;
	bottom: 30px;
	cursor: pointer;

}
#head{
	padding-bottom: 5px;
	position: relative;
	display: table;
	color:white;
	width: 100%;
	height: 100vh; /* For at least Firefox */
	min-height: 100vh;
	box-shadow: inset 0 0 100px rgba(0,0,0,.5);
	background-color:rgb(50, 50, 50);
	/*background-color: red;*/
}
#head_cont{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
#header_txt_container{
	margin: 0 auto;
	width: 600px;

}
#scndSec{
	margin-top: 40px;
	font-family: proxi;
}
#trdSec{
	margin-top: 40px;
	background-color: rgb(50,50,50);
	
}
#frthSec{
	margin-top: 40px;	
	/*border-top:1px solid rgb(50,50,50);*/
}
#front-sec{
	/*border-top:1px solid  rgb(50,50,50);*/
	padding: 40px;
	text-align: center;
	background-color: white;
	font-family: proxi;	
}
.endtxt{
	letter-spacing: 2px;
}

#back-sec{
	/*background-color: rgb(50,50,50);*/
	text-align: center;
	/*color:white;*/
	/*border-top:1px solid white;*/
	font-family: proxi;
		padding: 40px;
}
#back-sec > div > p,#front-sec >div>p{
	text-align: left;
} 
.zzz{
	color:rgb(50,50,50);
	font-family: beb;
	letter-spacing: 2px;
	margin-top: 0;
}
#gif{
	text-align: center;
}
.skill-txt{
	color:rgb(50,50,50);
}
.skill-txt,.exp-txt{
	text-align: center;
	font-family: beb;
	letter-spacing: 2px;
	/*text-decoration: line-through;*/
}
.exp-txt{
	color: white;
	margin-top: 20px;
}
.txt-wrap{
	position: relative;
	padding: 20px;
	top: 50px;
	/*visibility: hidden;*/
	opacity: 0;
}
svg{
	width: 100px;
	opacity: 0;
}

/*table#level{
	
	float: left;
	text-align: left;
	
}*/
.sc1,.sc2,.sc3,.sc4,.sc5,.sc5,.sc6,.sc7,.sc8{
	margin-left: 22px;
	width: 0px;
	height: 25px;
	background-color: grey;
	z-index: 10;
}
table#skill1{
	margin-left: 130px;
	clear: both;
	width:1000px;
	font-family: proxi;
}


div.line{
	border-left: 1px solid #bdbdbd;
	height: 560px;
	position: absolute;
	top:-5px;

}
.rate{
	display: block;
	padding-left: 10px;
}
td{
	width: 100px;
	padding:10px;
}
tr{
	border-spacing: 40px;
	margin-left: 300px;
}
#skill-cont{
	margin-top: 50px;

}
#exp_cont{
	margin-top: 20px;
	margin-bottom: 40px;
	border-radius: 10px;
	padding: 2px;
	
	color: white;
}
.exp_row{
	padding-left: 30px;
	/*text-align: center;*/
}
#exp_row_two{
	margin-top: 40px;
}
.liParent{
	font-family: proxi;
	font-weight: bold;
	font-size: 1.3em;
	letter-spacing: 1px;
}
.exp_child_cont{
	
	margin-top:10px;
	text-align: left;
	padding-left: 50px;
}
.child_txt{
	font-size: 1.1em;
	display: block;
	padding: 5px;
	font-family: proxi;
}

footer{
	background-color: rgb(50,50,50);
	/*border-top:2px solid white;*/
	color:white;
	padding: 20px;
}
.footerRow{
	
	text-align: center;
}
.footTxt{
	margin-left: 10px;
}
.info{
	/*background-color: red;*/
	font-family: proxi;
	text-align: left;
	padding-left: 30px;
	width: 280px;
	margin: 15px auto 0 auto;
}
#f{
	margin-top: 20px;
}
/*svg:hover{*/
	/*transition: .5s;*/
	/*width: 100px;*/
	/*-ms-transform: scale(1,1); 
    -webkit-transform: scale(1,1);
    transform: scale(1.2,1.2); */
/*}*/
#disp{
	display: none;
}
#svgCont{
	margin-top:40px;
	margin-left: 0;
	margin-right: auto;	
}
#svgCont2{
	margin-top:70px;	
}

@media screen and (max-width: 1471px){
	#dnone{
		display: none;
	}
	#disp{
		display: block;
		border:1px solid red;
		text-align: center;
	}
}
@media screen and (max-width: 986px){
	#svgCont{
		margin-top:0px;	
	}
	#svgCont2{
		margin-top:0px;	
	}
	svg{
		width: 250px;
		margin-top: 110px;
	}
	.exp_child_cont{
	/*background-color: red;*/
		margin-top:10px;
		text-align: left;
		padding-left: 10px;
	}
}

@media screen and (max-width: 986px){
	canvas{
		display: none;
	}
}
@media screen and (max-width: 644px){
	.k,.l{
		/*float:none;*/
		text-align: center;
	}
	#exp_cont_wrap{
		text-align: center;

	}
	.exp_row{
		text-align: center;
		padding-left: 0;
	}
	.exp_child_cont{
		text-align: center;
		
		padding-left: 0;
	}
	#exp_row_two{
		margin-top: 20px;
	}
	#shet{
		text-align: center;
	}
	.child_txt{
		/*display: none;*/
	}
}
@media screen and (max-width: 635px){
	#head{
		display: table;
		color:white;
		width: 100%;
		height: 100vh; /* For at least Firefox */
		min-height: 100vh;
	}
	#head_cont{
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
	#header_txt_container{
		font-size: 1em;
		margin: 0 auto;
		width: 100%;

	}
}
@media screen and (max-width: 600px){
	#head{
		display: table;
		color:white;
		width: 100%;
		height: 100vh; /* For at least Firefox */
		min-height: 100vh;
	}
	.o,.p{
		/*float: none;*/
	}
	footer{
			
			/*border-top:2px solid white;*/
			color:white;
			padding: 20px;
			text-align: center;
		}
		.footerRow{
			
			text-align: center;
		}
		.footTxt{
			margin-left: 10px;

		}
		.info{
			/*background-color: red;*/
			font-family: proxi;
			text-align: center;
			padding-left: 0px;
			width: 100%;
			margin: 15px auto 0 auto;
		}
		#f{
			margin-top: 20px;
		}
		
}
@media screen and (max-width: 420px){
	.col-md-3{
		padding:0;
	}
	.container-fluid,.container{
		padding:0; 
	}
	#img2,#img{
			width: 80%;
		}
	
	#back-sec{
		/*background-color: rgb(50,50,50);*/
		text-align: center;
		/*color:white;*/
		/*border-top:1px solid white;*/
		font-family: proxi;
			padding: 40px;
	}
	#back-sec > div > p,#front-sec >div>p{
		text-align: center;
	}

}